body {
  font-family: 'Raleway', sans-serif;
  overflow: hidden; }

/* my frame work */
.capt {
  text-transform: capitalize; }

.upp {
  text-transform: uppercase; }

.clear-fix {
  clear: both; }

/* start fixed menu */
.fixed-menu {
  position: fixed;
  width: 200px;
  height: 100vh;
  left: -200px;
  background-color: #cfcaca;
  text-align: center;
  z-index: 99;
  font-weight: bolder;
  border-right: 2px solid #c0baba; }
  .fixed-menu img {
    border-radius: 50%;
    margin: 70px auto 20px;
    width: 150px;
    height: 150px;
    border: 2px solid #fff; }
  .fixed-menu h6 {
    margin-bottom: 20px; }
  .fixed-menu ul li {
    padding: 10px 0;
    border-bottom: 2px solid #c0baba;
    transition: all 1s ease-in-out;
    cursor: pointer; }
    .fixed-menu ul li:hover {
      background-color: #FF6D00;
      color: #fff; }
    .fixed-menu ul li.active {
      background-color: #FF6D00; }
  .fixed-menu .icon {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 50px;
    text-align: center;
    background-color: #cfcaca;
    position: absolute;
    left: 200px;
    top: 50px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #c0baba; }
    .fixed-menu .icon i {
      color: #000;
      font-size: 25px;
      cursor: pointer;
      transition: all .4s ease-in-out; }
      .fixed-menu .icon i:hover {
        color: #FF6D00; }

/* start header */
.header {
  background-image: url(../images/2.jpg);
  background-attachment: fixed;
  background-position-x: right;
  color: #fff;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .header .over {
    background-color: #FF6D00;
    height: 100% !important;
    width: 55%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    -webkit-box-shadow: 30px 5px 60px 5px #FF6D00;
    box-shadow: 30px 5px 60px 5px #FF6D00; }
  .header .info {
    padding: 150px 100px;
    position: relative; }
    .header .info h5 {
      margin-bottom: 20px;
      font-family: 'Pacifico', cursive; }
    .header .info h1 {
      display: block; }
    .header .info ul {
      padding: 20px 0; }
      .header .info ul li {
        display: inline-block;
        padding-right: 15px;
        font-size: 25px;
        transition: all .8s ease-in-out;
        cursor: pointer; }
        .header .info ul li:hover {
          transform: scale(1.4); }
        .header .info ul li a {
          color: #fff; }
    .header .info .down {
      position: absolute;
      font-size: 35px;
      bottom: 80px;
      left: 45%;
      cursor: pointer;
      transition: all .8s ease-in-out; }
      .header .info .down:hover {
        color: #000; }
  @media (max-width: 576px) {
    .header .header {
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position-x: center; }
    .header .over {
      width: 100%;
      background-color: rgba(255, 102, 0, 0.774); }
    .header .info {
      text-align: center;
      padding: 150px 40px; } }
  @media (max-width: 991px) {
    .header .info {
      text-align: center;
      padding: 150px 20px; } }

/* start about me */
.about {
  background-color: #fff;
  height: auto;
  padding: 80px 0 50px; }
  .about h2 {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin: 0 auto  60px;
    padding-bottom: 15px;
    border-bottom: 5px solid #FF6D00;
    width: 150px; }
  .about .about-me h5 {
    color: #777;
    padding-bottom: 20px;
    border-bottom: 1px solid #999; }
  .about .about-me p {
    padding-top: 20px;
    line-height: 1.8; }
  .about .item {
    margin-top: 35px;
    padding: 18px 12px;
    transition: all .6s ease-in-out; }
    .about .item i {
      font-size: 20px;
      margin-bottom: 10px;
      transition: all .6s ease-in-out; }
    .about .item .type {
      font-size: 15px; }
    .about .item p {
      font-size: 13px; }
    .about .item .email {
      font-size: 10px; }
    .about .item:hover {
      box-shadow: -1px -1px 12px 2px #999; }
    .about .item:hover i {
      color: #FF6D00;
      font-size: 30px; }

@media (max-width: 991px) {
  .about {
    text-align: center; }

  h5 {
    margin-top: 40px; } }
/* start my skills */
.skills {
  background-color: #f5f5f5;
  padding: 80px 0 60px; }
  .skills h2 {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin: 0 auto  60px;
    padding-bottom: 15px;
    border-bottom: 5px solid #FF6D00;
    width: 150px; }
  .skills .skill {
    margin-bottom: 20px; }
    .skills .skill label {
      font-weight: bolder; }
    .skills .skill .progress-bar {
      background-color: #FF6D00;
      border-radius: 8px; }

/*start services */
.services {
  padding: 80px 0;
  background-color: #fff; }
  .services h2 {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin: 0 auto  60px;
    padding-bottom: 15px;
    border-bottom: 5px solid #FF6D00;
    width: 180px; }
  .services .service {
    padding: 20px 10px;
    margin: 30px 0;
    border: 1px solid #ddd7d7;
    transition: all .9s ease-in-out; }
    .services .service h3 {
      font-size: 20px;
      font-weight: bolder; }
    .services .service i {
      font-size: 45px;
      border: 3px dotted #FF6D00;
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin-bottom: 30px;
      border-radius: 50px;
      color: #FF6D00;
      transition: all .9s ease-in-out; }
    .services .service p {
      transition: all .9s ease-in-out; }
    .services .service:hover {
      background-color: #FF6D00;
      box-shadow: -1px -1px 30px 5px #FF6D00;
      border-radius: 10px; }
    .services .service:hover i {
      color: #fff;
      border: 3px dotted #fff; }
    .services .service:hover p {
      color: #fff; }

/* start my work */
.work {
  padding: 80px 0;
  background-color: #f5f5f5; }
  .work h2 {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin: 0 auto  60px;
    padding-bottom: 15px;
    border-bottom: 5px solid #FF6D00;
    width: 140px; }
  .work .control {
    margin: 0 auto 50px; }
    .work .control ul li {
      display: inline-block; }
      .work .control ul li button {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 10px 11px;
        margin-right: 15px;
        text-transform: capitalize;
        cursor: pointer;
        border-bottom: 2px solid #FF6D00;
        transition: all .9s ease-in-out; }
        .work .control ul li button:hover {
          background-color: #FF6D00;
          color: #fff; }
        .work .control ul li button.active {
          background-color: #FF6D00;
          color: #fff; }
  .work .card {
    margin-bottom: 40px;
    position: relative;
    transition: all .7s ease-out;
    overflow: hidden;
    position: relative; }
    .work .card i {
      position: absolute;
      left: 40%;
      top: -40%;
      font-size: 25px;
      height: 60px;
      width: 60px;
      line-height: 60px;
      border: 2px solid #FF6D00;
      border-radius: 50px;
      background-color: #FF6D00;
      color: #fff;
      transition-delay: 1s;
      transition: all .7s ease-out;
      z-index: -2; }
    .work .card:hover {
      background-color: #FF6D00;
      color: #fff; }
    .work .card:hover i {
      top: 30%;
      z-index: 1; }
    .work .card:hover .overr {
      position: absolute;
      transition: all .4s ease-out;
      width: 100%;
      height: 75%;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.8); }
    .work .card p {
      font-weight: bolder; }

/* start contact */
.contact {
  padding: 80px 0; }
  .contact h2 {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin: 0 auto  40px;
    padding-bottom: 15px;
    border-bottom: 5px solid #FF6D00;
    width: 100px; }
  .contact p {
    font-size: 22px;
    color: #aca3a3; }
  .contact ul li {
    display: inline-block; }
    .contact ul li a {
      display: block;
      font-size: 25px;
      color: #FF6D00;
      border: 2px solid #FF6D00;
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin: 0 7px;
      border-radius: 50%;
      transition: all .9s ease-in-out; }
      .contact ul li a:hover {
        background-color: #FF6D00;
        color: #fff; }

/* start footer */
footer {
  background-color: #f5f5f5;
  color: #999; }
  footer p {
    margin: 0;
    font-size: 18px; }
    footer p span {
      color: #FF6D00; }

/* start scroll top */
.scroll {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FF6D00;
  position: fixed;
  right: 5px;
  bottom: 0px;
  font-size: 25px;
  border: 1px solid #FF6D00; }
  .scroll:hover {
    background-color: #FF6D00;
    color: #fff; }

/* load screen */
.load {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999; }
  .load .spinner {
    margin: 30% auto;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear; }
  .load .dot1, .load .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out; }
  .load .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }
@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
  .load h1 {
    color: white;
    margin: 30% auto;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
